<div xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntVideo/ViewHelpers">
    <f:layout name="Default" />

    <f:section name="main">

        <f:flashMessages />

        <hive:cptCntVideo aVideos="{oVideos}"/>

    </f:section>
</div>


