@import "hive_thm_custom/Resources/Private/Assets/Scss/Custom/custom";

.tx-hive-cpt-cnt-video {
  overflow: auto;

  .video--container {
    position:relative;
    float: left;
    display: inline-block;

    figure {
      position: relative;
      margin: 0;
    }
  }

  //.focuhila {
  //  max-width: 100%;
  //  height: auto;
  //  background-size: 100% 100%;
  //
  //  video {
  //    object-fit: cover;
  //    width: 100%;
  //  }
  //}

  .w25 {
    width: 100%;

    @media (min-width: 768px) {
      width: 25%;
    }
  }

  .w33 {
    width: 100%;

    @media (min-width: 768px) {
      width: 33%;
    }
  }

  .w50 {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  .w100 {
    width: 100%;
  }

  .video--ratio {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;

    video {
      object-fit: cover;
      object-position: 50% 50%;
      box-sizing: border-box;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  .ratio__16-9,
  .ratio__16-10,
  .ratio__square {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
  }

  .ratio__anamorphic { //2.39:1
    padding-bottom: 41.84%;
  }

  .ratio__widescreen--cinema { //1.85:1
    padding-bottom: 54.05%;
  }

  .ratio__tv { //16:9
    padding-bottom: 56.25%;
  }

  .ratio__tv--classic { //4:3
    padding-bottom: 75%;
  }

  .ratio__square { //1:1
    padding-bottom: 100%;
  }

  iframe {
    display: block;
    position: absolute;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
  }

  .poster {
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;

    &:hover {
      cursor: pointer;
    }
  }

  //$color-button:       #fff;
  //$color-button-hover: #f00;
  //
  //.videoWrapper {
  //  position: relative;
  //  height: 0;
  //  background-color: #000;
  //  &43 {
  //    padding-top: 75%;
  //  }
  //  &169 {
  //    padding-top: 56%;
  //  }
  //}
  //.videoIframe {
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-color: transparent;
  //}
  //.videoPoster {
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  margin: 0;
  //  padding: 0;
  //  cursor: pointer;
  //  border: 0;
  //  outline: none;
  //  background-position: 50% 50%;
  //  background-size: 100% 100%;
  //  background-size: cover;
  //  text-indent: -999em;
  //  overflow: hidden;
  //  opacity: 1;
  //  -webkit-transition: opacity 800ms, height 0s;
  //  -moz-transition: opacity 800ms, height 0s;
  //  transition: opacity 800ms, height 0s;
  //  -webkit-transition-delay: 0s, 0s;
  //  -moz-transition-delay: 0s, 0s;
  //  transition-delay: 0s, 0s;
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    top: 50%;
  //    left: 50%;
  //    width: 80px;
  //    height: 80px;
  //    margin: -40px 0 0 -40px;
  //    border: 5px solid $color-button;
  //    border-radius: 100%;
  //    -webkit-transition: border-color 300ms;
  //    -moz-transition: border-color 300ms;
  //    transition: border-color 300ms;
  //  }
  //  &:after {
  //    content: '';
  //    position: absolute;
  //    top: 50%;
  //    left: 50%;
  //    width: 0;
  //    height: 0;
  //    margin: -20px 0 0 -10px;
  //    border-left: 40px solid $color-button;
  //    border-top: 25px solid transparent;
  //    border-bottom: 25px solid transparent;
  //    -webkit-transition: border-color 300ms;
  //    -moz-transition: border-color 300ms;
  //    transition: border-color 300ms;
  //  }
  //  &:hover,
  //  &:focus {
  //    &:before {
  //      border-color: $color-button-hover;
  //    }
  //    &:after {
  //      border-left-color: $color-button-hover;
  //    }
  //  }
  //  .videoWrapperActive & {
  //    opacity: 0;
  //    height: 0;
  //    -webkit-transition-delay: 0s, 800ms;
  //    -moz-transition-delay: 0s, 800ms;
  //    transition-delay: 0s, 800ms;
  //  }
  //}

}